{% extends 'app/home.html' %}
{% load render_table from django_tables2 %}9

{% block javascript %}

<script type="text/javascript">
$(function() {
    $("#version-list").change(function () {
      var version = $(this).val();
      $.ajax({
        url: '/app/ajax/testrun_list/',
        data: {
          '_version': version
        },
        dataType: 'json',
        success: function (data) {
        	html="";
        	for(var k in data.list) {
        		   html=html+"<option value='"+data.list[k].id+"'><a class='dropdown-item' href='#'>"+data.list[k].title+"</a></option>";
        	}
        	document.getElementById("sel1").innerHTML=html;
        	document.getElementById("sel2").innerHTML=html;
        	console.log("qa");
        }
      });

    });
});    
</script>
  
  
<script type="text/javascript">
        $(document).ready(function() {
            $('#sel1').on('change',function(){
            	var param_1 = $('#sel1').val();
               	var param_2 = $('#sel2').val();
               	var url = "/app/reports/compare/";
               	url = url+""+param_1+"/"+param_2+"/";
               	console.log(url);
               	$("#link").attr("href", url);
            });
        });
        
        $(document).ready(function() {
        	$('#sel2').on('change',function(){
            	var param_1 = $('#sel1').val();
               	var param_2 = $('#sel2').val();
               	var url = "/app/reports/compare/";
               	url = url+""+param_1+"/"+param_2+"/";
               	console.log(url);
               	$("#link").attr("href", url);
            });
        });
        
        $(document).ready(function() {
           	var param_1 = $('#sel1').val();
           	var param_2 = $('#sel2').val();
           	var url = $('#link').attr('href');
           	url = url+""+param_1+"/"+param_2+"/";
           	$("#link").attr("href", url);
        });
</script>   
  
{% endblock %}



{% block testrun_dropdown %}


<div class="filters">

<div class="row">	
	<div class="dropdown col-sm-4">
		<div class="form-group">
	      <label for="version">Select Version:</label>
	      <select class="form-control" id="version-list" name="version">
	        
	        {% for version in version_list %}
	        <option value="{{ version.id }}">
			    <a class="dropdown-item" href="#">{{ version.title }}</a>
			</option>
			{% endfor %}
	        
	      </select>
	    </div>
	</div>
</div>
<div class="row">
	<div class="dropdown col-sm-4">
		<div class="form-group">
	      <label for="sel1">Select TestRun 1:</label>
	      <select class="form-control" id="sel1" name="sellist1">
	        
	        {% for testrun in testrun_list %}
	        <option value="{{ testrun.id }}">
			    <a class="dropdown-item" href="{% url 'compare_reports' testrun.id %}">{{ testrun.title }}</a>
			</option>
			{% endfor %}
	        
	      </select>
	    </div>
	</div>
	
	<div class="dropdown col-sm-4">
		<div class="form-group">
	      <label for="sel1">Select TestRun 2:</label>
	      <select class="form-control" id="sel2" name="sellist1">
	        
	        {% for testrun in testrun_list %}
	        <option value="{{ testrun.id }}">
			    <a class="dropdown-item" href="{% url 'compare_reports' testrun.id %}">{{ testrun.title }}</a>
			</option>
			{% endfor %}
	        
	      </select>
	    </div>
	</div>
	<div class="col-sm-4">
		<label for="sel1">Click to get Result:</label>
		<a id="link" href="/app/reports/compare/"><button class="btn btn-success form-control" type="Submit">Submit</button></a>
	</div>
</div>
</div>	
{% endblock %}

{% block report_tables %}
		
    <div>
        {% render_table testcase %}
    </div>
    
{% endblock %}